a {
  color: inherit;
  text-decoration: none;
}

// react container /////////////////////////////////////////////////////////////////////////////////////////////////////
#react .header {
  position: relative;
  height: 6em;
  background-color: #F8F8F8;
}

.header .title {
  padding: 0.5em 1.75em;
  font-size: 1.142857143em;
  font-weight: bold;
}

.header .desc {
  padding: 0 2em;
  color: #999999;
}

.header .contact {
  padding: 0 1em;
  font-size: 0.857142857em;
  text-align: right;
  color: #AAAAAA;
}

.header .actions {
  position: absolute;
  top: 0;
  right: 0;
  height: 4em;
  line-height: 4em;
}

.header .actions button {
  min-width: 6em;
  margin-right: 1em;
}

// record form /////////////////////////////////////////////////////////////////////////////////////////////////////////
form.record_form {
  margin: 2em 0;
}

.record_form .row {
  min-height: 5em;
}

.record_form .rdtPicker {
  box-shadow: 0 0 12px #e2e2e2;
}

// record form - units /////////////////////////////////////////////////////////////////////////////////////////////////
.units .unit {
  position: relative;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: #F0F0F0;
}

.units .unit .options {
  position: relative;
}

.units .unit .options .Select {
  display: inline-block;
  width: 6em;
}

.units .unit .options .remove {
  position: absolute;
  top: -0.2em;
  right: 0;
  font-size: 1.5em;
  color: #F08080;
  cursor: pointer;
}

.units .unit .awards {
  position: relative;
  margin-top: 1em;
}

.units .unit .awards .award {
  display: inline-block;
  position: relative;
  width: 6em;
  padding: 0.5em 0.2em;
  cursor: pointer;
}

.units .unit .awards .award img {
  width: 100%;
}

.units .unit .awards .award .fa {
  position: absolute;
  top: 0.3em;
  right: 0.15em;
  color: #555555;
}

.append_unit {
  margin-top: 1em;
}

.append_unit button {
  min-width: 8em;
  margin-right: 2em;
}

.submit {
  margin-top: 2em;
  text-align: right;
}

.submit button {
  min-width: 10em;
}

// record form - units - choose card ///////////////////////////////////////////////////////////////////////////////////
.choose_card_wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
  overflow: hidden;
}
.choose_card_wrapper[data-show="true"] {
  display: block;
}

.choose_card_wrapper .choose_card {
  position: relative;
  max-width: 64em;
  margin: 0 auto;
  padding: 1em;
  border-radius: 0.5em;
  background-color: #FFFFFF;
  color: #333333;
  overflow: hidden;
}

.choose_card .card_type {
  margin: 1em 0;
}

.choose_card .card_type button {
  min-width: 6em;
  margin-right: 1em;
}

.choose_card .card_star {
  margin: 1em 0;
}

.choose_card .card_star button {
  min-width: 6em;
  margin-right: 1em;
}

.choose_card .close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
}

.choose_card .cards {
  min-height: 20em;
  max-height: 40em;
  overflow-y: scroll;
}

.cards .card {
  display: inline-block;
  position: relative;
  width: 6em;
  padding: 0.5em 0.2em;
  cursor: pointer;
}

.cards .card img {
  width: 100%;
}

// stats ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
.stats form {
  margin: 2em 0 0 0;
}

.stats .row {
  min-height: 5em;
}

.stats .row button {
  min-width: 6em;
  margin-right: 1em;
}

.stats .row button .rate {
  display: block;
  font-size: 0.857142857em;
  color: #999999;
}
.stats .row button.btn-primary .rate {
  color: #CCCCCC;
}

.stats_cards {
  background-color: #F0F0F0;
}

.stats_cards .stats_card {
  display: inline-block;
  width: 18em;
  height: 6em;
  margin: 1em;
}

.stats_card img {
  display: inline-block;
  height: 100%;
}

.stats_card .rate_desc {
  display: inline-block;
  width: 11em;
  padding-left: 1em;
}

.rate_desc .rate span {
  color: #008000;
}

.rate_desc .stones {
  font-size: 0.857142857em;
  color: #999999;
}

.rate_desc .stones span {
  font-weight: bold;
}
