{% extends "TranzTZBaseBundle:Local:TZBase.main.html.twig" %}
{% set resourceName = "kazefgostatscarddrawing/CardDrawing/index" %}

{% block headtitle %}Fate / Grand Order 抽卡统计{% endblock %}

{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="desc">标题</div>

        <div class="stats">统计数据</div>

        <div id="record_form"></div>
    </div>
{% endblock %}
